build/
install/
log/
.colcon/
.vscode/
*.pyc
__pycache__/
.arduino/
.edgeimpulse/
edge_impulse/model/
*.uf2
*.hex
*.elf
*.bin

# Edge Impulse model files are too large for GitHub (float32 is ~155 MB)
*.lite
*.tflite
test/output/
test/.venv/
